# git
.git
.gitignore
# docker
.dockerignore
docker-compose.yml
Dockerfile
database.env
README.md
images/
# vscode config folder
.vscode/
# jupyter config folder
.ipynb_checkpoints/
# python config folder
__pycache__/